<h1>Angular App</h1>


<div class="card">    
      <div class="card-body pb-0">    
          <h4>1.Practice parent child relationship using viewchild.</h4>    
          <div class="row" style="text-align: center;">    
              <!-- <div class="col-12 col-md-12" style="text-align: center;">    -->
                <div style="text-align:center">
                  <div class="container">  
                              <table class="table table-bordered heading-hvr">    
                                  <thead>  
                                      <tr>   
                                          <th width="100">Sr.No</th>
                                          <th width="50">Brand</th> 
                                          <th width="100">Price/Unit</th>    
                                          
                                      </tr> 
                                  </thead>    
                                  <tbody *ngFor="let product of productInParent; let i = index">    

                                      <tr style="text-align: center;"> 
      

                                          <td style="text-align: center;">{{product.SrNo}}</td>   
                                          <td>{{product.Brand}}</td>    
                                          <td>{{product.Price }}</td>
                                      </tr>    
  
                                  </tbody>    
                              </table>  
                  </div>    
              </div>    
          </div>    
      </div>    
  </div>    
  <app-child></app-child>   



  <div style="text-align:center">
    <h2>3.Implement observable pattern using basic operators. </h2>    
    <!-- [...] -->
  <router-outlet></router-outlet>


  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <a routerLink="/">Home</a> |
        <a [routerLink]="['user', 1]">
          User 1
        </a>
        |
        <a [routerLink]="['user', 2]">
          User 2
        </a>
      </div>
    </div>
    <hr/>
    <p *ngIf="userActivated">Activated!</p>
    <hr/>
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>

  