<label>Assignment</label>
<!--<input-->
  <!--type="text"-->
  <!--class="form-control"-->
  <!--(input)="onUpdateServerName($event)">-->
  <h5> Practice two-way binding using eg:- ngmodel, string interpolation etc. </h5>
<input
  type="text"
  class="form-control"
  [(ngModel)]="serverName">
<!--<p>{{ serverName }}</p>-->

<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()">Add Server</button>

<!--<p [innerText]="allowNewServer"></p>-->
<!-- <p>{{ serverCreationStatus }}</p> -->
<h5>Practice predefined angular directives. Using dummy data json.</h5>
<p *ngIf="serverCreated"> JSON data is {{ servers }}</p>
<app-server *ngFor="let JSON of servers"></app-server>

<h5>Practice some basic Component interaction with @Input, @Output and EventEmitter.</h5>
<p>{{receivedmessage}} </p>
<button
class="btn btn-primary"
(click)=" FireEvent()">Add Event</button>
