<div class="container" style="background-color:antiquewhite;">
    <div class="container" style="color:black; font-size: larger; font: 2em sans-serif;">
        <p>About Us Of E-Commerce Website</p>
    </div>
    <div>
    <p> E-Commerce, also known as e-Business, or electronic business,
         is simply the sale and purchase of services and goods over an electronic medium, 
         like the Internet. It also involves electronically transferring data and funds between two or more parties.
         Simply put, it is online shopping as we commonly know it.
    </p>
    <div class="container" style="color:black; font-size: larger; font: 2em sans-serif;">
        <p>About My Website</p>
    </div>
    <p>In my website there is 3 pages that is:
        <br>
        1.Listing Page:-> In this you can see the product listing and can select the product.
        <br>
        2.CartPage:-> In this you can see your select products and you can also increase and decrease the products.
        <br>
        3.BuyPage:-> In this you can see the list of item which you purchase with total amount.
    </p>
    <p> You have to Login Yourself before purchasing the product </p>

</div>
</div>
